<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Welcome to my app" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav style="background: #333; padding: 10px;">
  <a href="/" style="color: white; margin-right: 10px;">About</a>
  <a href="/contact" style="color: white; margin-right: 10px;">Contact</a>
  <a href="/profile" style="color: white;">Profile</a>
</nav>




    <%= yield %>
  </body>
</html>
